.navbar-light {
  background-color: $nav-bar-color !important;
}

#courseindex {
  background-color: #ed654e !important;
}

.login-container {
  background-color: $nav-bar-color !important;
}

.login-wrapper {
  background-color: #9cbcf0 !important;
}